<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lim.dao.UserDAO">

    <insert id="insertUser" parameterType="java.util.Map" keyProperty="id">
        insert into days_user(
        state,
        nickname)
        values
        (
        #{state},
        #{nickname})
    </insert>

    <update id="updateUser" parameterType="User" >
        UPDATE day_user SET state = #{state} ,nickname = #{nickname}
    </update>

    <delete id="delUser" parameterType="int">
        DELETE FROM days_user WHERE id = #{id}
    </delete>

    <select id="findUser"   parameterType="int" resultType="User">
        SELECT * FROM days_user WHERE id = #{id}
    </select>

    <select id="findAllUser"    resultType="User">
        SELECT * FROM days_user
    </select>

</mapper>
